@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Work+Sans:ital,wght@0,300;1,300;1,600&display=swap");

body {
  margin: 0;
  padding: 10px;
  background-color: #ddd;
  font-family: "Neucha", cursive;
  font-family: "Work Sans", sans-serif;
}

a {
  color: blue;
}
